.botoes{
    border: 2px solid black;
    width: 500px;
    display: flex;
    gap: 10px;
    flex-direction: column;
align-items: center;
padding: 20px;
}

.botao-padrao{
    width: 200px;
    height: 50px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 10px;
}

.botao-01:hover{
    background-color: blue;
    transition: 1s;
    color: brown;
}

.botao-02:hover{
    width: 700px;
    height: 400px;
    transition: 2s;
}

.botao-03:hover{
    border: 2px solid black;
}