.botoes{
width: 500px;
border: 2px solid black;
display: flex;
gap: 10px;
flex-direction: column;
align-items: center;
padding: 20px;
}

.botao-padrao{
    width: 250px;
    height: 50px;
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 10px;

}

.botao-01:hover{
    border: 2px solid black;
    background-color: brown;
    transition: 1s;
}

.botao-02:hover{
    width: 370px;
    transition: 2s;
}

.botao-03:hover{
    box-shadow: 2px 5px 15px red;
    transition: 1s;
}

.botao-04:hover{
    width: 400px;
    height: 80px;
    transition: 1s;
    background-color: blue;
    border: 2px solid black;
}